.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 0 15px;
    grid-area: h;
    background: #20222f;
    border-bottom: 1px solid rgb(240, 248, 255);
  }
  .logo {
    color: rgb(240, 248, 255);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 30px;
  }
  .loginBlock {
  width: 45%;
  }
  .loginBlock div {
    float:right;
  }
  .loginBlock div a {
    color:#fff;
    text-decoration: none;
    border: 1px solid rgb(240, 248, 255);
    padding: 4px 8px;
    border-radius: 5px;
  }
  