


.nav {
    grid-area: n;
    background: #20222f;
    padding: 20px 0 20px 0;
    border-right: 1px solid rgb(244, 250, 255);
    }

.fr {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    background-color: azure;
    border-radius: 50%;
    margin-left: 20px;
}